:root {
    /*color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dart-white: #bdbdbd;
    --color-orange: #e65100;
    --color-dark-orange: #ac1900;
    --color-black: #000000;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-light-orange: #ff833a;
    --color-light-yellow: #ffffb1; 
    --color-lemon: #FAFA33;
    ;

    /*Font size*/
    --font-exlarge: 68px;
    --font-large: 58px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    
    /*Font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*Size*/
    --size-border-radius: 4px;

/*Animation*/
    --animation-duration: 300ms;
}

/*Universal tags*/
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

body, input, nav, #login-form, #todo-form, #quote {
    font-family: "Gill Sans", sans-serif;
    color: var(--color-black);
}

input {
    width: 50%;
    height: 30px;
    font-size: var(--font-regular);
    color: var(--color-black);
    border: none;
    border-bottom: 2px solid var(--color-black);
    background-color: transparent;
    text-align: center;
}

input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-black);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0 px; 
}

span {
    text-align: center;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin: 16px 0;
}

#container {
    width: 70%;
    margin: 20% auto;
    text-align: center;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 8px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

#weather {
    width: 100%;
    margin-bottom: 20px;
    font-size: var(--font-micro);
    text-align: right;
    padding-right: 20px;
}

#clock {
    color: var(--color-dark-grey);
}

#greeting {
    font-size: var(--font-exlarge);
    color: var(--color-lemon);
}

#login-form {
    margin-top: 100px;
}

#todo-form {
    margin-top: 80px;
}

#todo-form input {
    color: var(--color-black);
}
#todo-list {
    margin-top: 50px;
    font-size: var(--font-regular);
    color: var(--color-orange);

}

#quote {
    margin-top: 200px;
    font-weight: bold;
    color: var(--color-dark-grey);
}

.hidden {
    display: none;
}

.remove {
    margin-left: 10px;
}

.remove:hover {
    border: 2px solid var(--color-white);
    border-radius: 20px;
    display: inline-block;
    padding: auto;
    cursor: pointer;
}